/* The stylesheet for the app */

/* ===================================================== */
/* Style the containers */
#mainContainer {
    background-color: #ffffff;
}

#topContainer{
    padding: 4em 0 2em 2em;
    background-color: #ffffff;
    
}

#midContainer{
    padding: 2em;
    background-color: #ffffff;
}

#bottomContainer{
    padding: 2em;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1em;
    border-color: #f49807;
    box-shadow: 10px 10px 8px 10px #888888;
}

/* ===================================================== */
/* Style the table */
.tr {
    text-align: left;
}

.td {
    text-align: left;
}

/* ===================================================== */
/* Style the menu */

#menu {
    background-color: #f49807;
    box-shadow: 10px 10px 8px 10px #888888;
}

#addBookButton {
    background-color: #000000;
}

.navbar-brand {
    color: #140d00;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 4em;
}

/* ===================================================== */
/* Add style to the form */
#name {
    width: 80%;
}

#author{
    width: 80%;
}